<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">




        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>




        <!--========== CSS ==========-->
        <link rel="stylesheet" href="../static/assets/css/styles.css">




        <title>MediBuddy</title>
    </head>
    <body>




        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>




        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="{{ url_for('index') }}" class="nav__logo">MediBuddy</a>




                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="{{ url_for('index') }}" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="{{ url_for('index') }}" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="{{ url_for('index') }}" class="nav__link">Services</a></li>




                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>




                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>


        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">MediBuddy</h1>
                        <h2 class="home__subtitle">Your Health Companion, <br> Every Step of the Way</h2>
                        <p class="text__description">Thank you for being with us.</p>
                    </div>
   
                    <img src="../static/assets/img/logo.png" alt="" class="home__img">
                </div>
            </section>
            
            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="about">
                <div class="text__container  bd-grid">
                    <div class="about__data">
                        <h2 class="section-title text__initial">Personalized Generated Report</h2>
                        <p class="text__description">{{ generated_text }} </p>
                    </div>




                </div>
            </section>
            <section class="menu section bd-container" id="menu">


                <div class="menu__container bd-grid">
                    <div class="menu__content">
                        <img src="../static/assets/img/helping.png" alt="" class="menu__img">
                        <form action="/add_patient" method="post">
                            <h3>Add Patient (Sign In)</h3>
                            <button type="submit" class="button menu__button"><i class='bx bx-add-to-queue'></i></button>
                        </form>
                    </div>
                    <div class="menu__content">
                        <img src="../static/assets/img/Alone.png" alt="" class="menu__img">
                        <form action="/add_to_existing_patient" method="post">
                            <h3>Add to Existing Patient (Sign In)</h3>
                            <div class="form__group field">
                                <input type="number" class="form__field" placeholder="ID" name="ID" id="ID" required>
                                <label for="ID" class="form__label">Patient ID</label>
                            </div>
                            <button type="submit" class="button menu__button"><i class='bx bx-add-to-queue'></i></button>
                        </form>
                    </div>
                    <div class="menu__content">
                        <img src="../static/assets/img/clipboard.png" alt="" class="menu__img">
                        <form action="/export_report" method="post">
                            <h3>Export Report as PDF</h3>
                            <button type="submit" class="button menu__button"><i class='bx bx-chevron-right'></i></button>
                        </form>
                    </div>
                </div>
            </section>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="{{ url_for('index') }}" class="footer__logo">MediBuddy</a>
                    <span class="footer__description">Health Services</span>
                    <div>
                        <a href="https://www.instagram.com/cho1dorj/" target="_blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.instagram.com/arnavroyy1" target="_blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.instagram.com/stanley_t_s/" target="_blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.instagram.com/emmaa_wu" target="_blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
                    </div>
                </div>




                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="{{ url_for('framework') }}" class="footer__link">Diagnosis Check</a></li>
                        <li><a href="{{ url_for('viewerbutton') }}" class="footer__link"> Patient Database</a></li>
                    </ul>
                </div>




                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="{{ url_for('index') }}" class="footer__link">About Us</a></li>
                    </ul>
                </div>




                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>Los Angeles, California</li>
                        <li>330 De Neve Dr</li>
                        <li>123-456-7890</li>
                        <li>medibuddy@email.com</li>
                    </ul>
                </div>
            </div>




            <p class="footer__copy">&#169; 2024 MediBuddy. All right reserved</p>
        </footer>


        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>




        <!--========== MAIN JS ==========-->
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>

